{% extends "layouts/base.html" %}

{% block title %} Cards {% endblock %} 

{% block content %}
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ Breadcrumb ] -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Support</h5>
                                    <br>
                                    <p>Contact IT Administrator:</p>
                                    <p>Mobile No.: 9652283458</p>
                                    <p>Email: <a href="">it@sharprojects.in</a></p>

                                </div>
                                         
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>
{% endblock content %}

<!-- JS Scripts -->
{% block javascripts %}{% endblock javascripts %}
